@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  button {
    @apply rounded-lg p-4 border hover:bg-white hover:text-black transition-all cursor-pointer;
  }
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}